<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Graphel</title>
    <link rel="stylesheet" href="../style/styles.css">
</head>
<body>
    <header>

        <div class="contenedor">
          <div id="marca">
            <h1><span class="resaltado">Diseño </span>Multimedia</h1>
          </div>
          <nav>
            <ul>
              <li><a href="index.html">Inicio</a></li>
              <li><a href="./templates/nosotros.html">Nosotros</a></li>
              <li><a href="./templates/servicios.html">Servicios</a></li>
              <li class="actual"><a href="./templates/contacto.html">Contacto</a></li>
  
            </ul>
          </nav>
        </div>
      </header>
  
      <main id="todo">
        <section id="boletin">
            <div class="contenedor">
              <h1>Subscríbete a nuestro boletin</h1>
              <form>
                <input type="email" placeholder="Ingrese el Email...">
                <button type="submit" class="boton1">Subscríbete</button>
              </form>
            </div>
          </section>
        <section id="formularios">
     
            <h2 class="contacto">Contacto</h2>
            <h3>Nombre</h3>
            <input type="text" placeholder="Ingrese su nombre" class="formularionombre">
            <h3>Email</h3>
            <input type="text"placeholder="Ingrese su Email" class="formularioemail">
            <h3>Telefono</h3>
            <input type="text"placeholder="Ingrese su Telefono" class="formulariotelefono">
            <h3>Celular</h3>
            <input type="text"placeholder="Ingrese su Celular" class="formulariocelular">
            <h3>Mensaje</h3>
            <textarea name="" id="formulariomensaje"></textarea>
            <button class="botonformulario">Enviar</button>     
           
        
        <aside id="textohacemos3"><h2 id="titulohacemos3"> Que hacemos</h2>
            <h3 id="textohacemosh3"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium corrupti, ut, aliquid dignissimos dolore atque, quaerat quibusdam animi delectus non incidunt minus dolorum. Est nostrum mollitia culpa eveniet hic numquam.</h3>
            <img src="../assets/img/mapaGoogle.png" alt="" id="imagenmapa">
        </aside>
    </section>  
    </main>
    <footer>
        <h3>Graphel Desarrollo, copyright &copy; 2017</h3>
    </footer>
    
</body>
</html>